<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>murthy</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="app-container">
        <!-- Welcome Message -->
        <h1 class="app-title">Welcome to MURTHYS App</h1>

        <!-- Buttons with YouTube Icons for Docker and Nexus Courses -->
        <div class="youtube-links">
            <a href="https://github.com/murthyvella" target="_blank" class="youtube-button">
                <img src="https://www.bing.com/th/id/OGC.19d4591b752ec406021922c987839874?o=7&cb=defcachec2&pid=1.7&rm=3&rurl=https%3a%2f%2fuser-images.githubusercontent.com%2f74038190%2f212257468-1e9a91f1-b626-4baa-b15d-5c385dfa7ed2.gif&ehk=DeZBHK2qI8mdnY6GpGHU%2bU5PQ9fqAYnTDn7cRvQjDiU%3d" alt="YouTube Icon" class="youtube-icon">
                CLICKME
            </a>
        </div>

        <!-- Footer Message -->
        <div class="footer">
            <h2 class="footer-message">Congratulations for learning SonarQube</h2>
        </div>
    </div>

    <script src="app.js"></script>
</body>
</html>

